.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    margin-top: 65px;
}

.grid-item {
    display: block;
    margin: 0 auto;
    width:100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
}

.one{
    background-image: url('../img/teams/Fnatic/Fnatic_logo.png');
    grid-column: 1/2;
    grid-row: 1/2;
}

.two{
    background-image: url('../img/teams/MIBR/Mibr_logo.png');
    grid-column: 2/3;
    grid-row: 1/2;
}

.three{
    background-image: url('../img/teams/G2_Esports/G2_logo.png');
    grid-column: 3/4;
    grid-row: 1/2;
}

.four{
    background-image: url('../img/teams/Astralis/Astralis_logo.png');
    grid-column: 4/5;
    grid-row: 1/2;
}

.five{
    background-image: url('../img/teams/Vitality/Vitality_logo.png');
    grid-column: 1/2;
    grid-row: 2/2;
}

.six{
    background-image: url('../img/teams/Ninjas_in_Pyjamas/Nip_logo.png');
    grid-column: 2/3;
    grid-row:2/2;
}

.seven{
    background-image: url('../img/teams/FaZe/FaZe_logo.png');
    grid-column:3/4;
    grid-row: 2/2;
}

.eight{
    background-image: url('../img/teams/Natus_Vincere/Navi_logo.png');
    grid-column:4/5;
    grid-row:2/2; 
}

