body {
    grid-template-rows: 0.2fr auto .5fr auto auto!important;
}

* {
    color:white;
}

.picture {
    display: block;
    margin: 0 auto;
}

.logoname {
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 75px;
}

.logoname h1 {
    margin-left: 10px;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

.descriptif {
    padding: 20px;
    font-size: 23px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
}

.player1 {
    padding-left: 60px;
}