* {
    box-sizing: border-box;
    line-height: 1!important;
}

html {
    background-image: url(../img/dudpyyq71f011.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    border-radius: 5px;
    width:75vw;
    margin:0 auto!important;
    margin-top: 50px!important;
    display: grid;
    grid-template-rows: 0.2fr auto 2fr auto auto;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    background-image: url(../img/backgroundoof.jpg);
    background-position: top;
    background-size: contain;
    margin-bottom:50px;
}

.main {
    grid-row: 2/4;
    grid-column: 2/3;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(0,0,0,0);
    justify-content: space-between;
    height: auto;
    grid-row: 1/2;
    grid-column: 1/4;
}

.menu {
    grid-row: 2/3;
    grid-column: 1/2;
}

.menulist a {
    box-sizing: initial!important;
    background-color: rgba(0,0,0,.5);
    height: auto!important;
    margin-top:5px!important;
    display: block;
    padding: 18px;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 19px;
    text-decoration: none;
    color:white!important;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.menulist a:hover {
    background-color: rgba(255,255,255,.1);
    color:white!important;
    text-decoration: none;
}

.menulist .a2 {
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 4/5;
    grid-column: 1/4;
    height: 250px;
    text-align: center;
    color:white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 14px;
    padding: 20px;
}

.brandlogo {
    margin-left: 60px;
    width: calc(10vw - 10px);
    height: calc(10vw - 10px);
    display: inline;
    padding: 10px;
}

.brandname {
    margin-left: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 3vw;
    line-height: 10vw;
    height: 10vw;
    vertical-align: top;
    color:white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    padding:10px;
}

.brandname:hover {
    color:white;
    text-decoration: none;
}

.sponsordiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    width: 17%;
    height: 155px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.sponsorlogo {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.sponsordiv p {
    color:white;
    font-family: 'Alegreya Sans SC', sans-serif;
    grid-column: 1/4;
    grid-row: 1/2;   
    text-align: center;
    font-weight: bold;
    margin-top: 15px!important;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.footer1 a {
    color:white;
    text-decoration: none;
}

.footer1 a:hover {
    color:grey;
}

.footer3 img {
    background-color: white;
    width: 40px;
    height:40px;
    margin: 5px;
}